@use '../abstracts' as *;

.main-title-photo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	gap: 10px;
	flex-wrap: wrap;
}
.main-title-photo .description {
	display: inline-flex;
	font-size: 1.2rem;
	font-weight: 500;
	color: $color-accent-pink;
}
.main-title-photo .title {
	font-weight: bold;
	font-size: 34px;
	@include gradient-text($gradient-title-from, $gradient-title-to, $gradient-stop);
}
.main-title-photo > .main-text {
	justify-self: flex-start;
}
.photo > img {
	filter: grayscale(1);
	width: 200px;
	height: 200px;
	border-radius: 50%;
	transition: filter 300ms linear;
}
.photo > img:hover {
	filter: grayscale(0);
}
