@use '../abstracts' as *;

@keyframes slideLeft {
	0% {
		transform: translateX(400px);
	}

	100% {
		transform: translateX(0px);
	}
}
@keyframes slideRight {
	0% {
		transform: translateX(-200px);
	}

	100% {
		transform: translateX(0px);
	}
}
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: $color-white;
	}
}
