@font-face {
	font-family: 'DevFont';
	src: url('../../assets/fonts/JetBrainsMono-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'DevFont';
	src: url('../../assets/fonts/JetBrainsMono-Bold.woff2') format('woff2');
	font-weight: bold;
}
@font-face {
	font-family: 'DevFont';
	src: url('../../assets/fonts/JetBrainsMono-LightItalic.woff2') format('woff2');
	font-style: italic;
}
@font-face {
	font-family: 'DevFont';
	src: url('../../assets/fonts/JetBrainsMono-BoldItalic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}
